# APIs used (Energy-Charts and Open-Meteo) are open and do not require keys.
# You can place other environment variables here if needed.
# Open-Meteo API (Free tier usually doesn't require key)
# OPEN_METEO_API_KEY="optional"

# MLOps
MLFLOW_TRACKING_URI="sqlite:///mlflow.db"

# Other configs
LOG_LEVEL="INFO"
